<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{base-layout::layout(~{::section})}">
<body>
<section class="container">
    <h1>게시판</h1>
    <form th:object="${article}" th:action="@{/article/edit}" method="post">
        <input type="hidden" name="id" th:value="*{id}"/>
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input type="text" class="form-control" th:field="*{title}">
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger">Title Error</p>
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea class="form-control" th:field="*{description}"></textarea>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Description Error</p>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</section>
</body>
</html>