<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{base-layout::layout(~{::section})}">
<body>
<section class="container">
    <h1>게시판</h1>
    <table class="table">
        <tbody>
            <tr>
                <td style="width: 20%;">#</td>
                <td th:text="${article.id}">100</td>
            </tr>
            <tr>
                <td>제목</td>
                <td th:text="${article.title}">게시글 제목</td>
            </tr>
            <tr>
                <td>내용</td>
                <td style="white-space: pre" th:text="${article.description}">게시글 내용</td>
            </tr>
            <tr>
                <td>글쓴이</td>
                <td th:text="${article.getName}">윤서준</td>
            </tr>
            <tr>
                <td>글쓴일</td>
                <td th:text="${#temporals.format(article.created,'yyyy-MM-dd HH:mm:ss')}">2024-06-30 09:03:18</td>
            </tr>
            <tr>
                <td>수정일</td>
                <td th:text="${#temporals.format(article.updated,'yyyy-MM-dd HH:mm:ss')}">2024-06-30 10:10:25</td>
            </tr>
        </tbody>
    </table>
    <a type="button" class="btn btn-info btn-sm" href="article-list-without-pagination.html" th:href="@{/article/list}">목록</a>
    <!--
    <a type="button" class="btn btn-warning btn-sm" th:href="@{/article/edit(id=${article.id})}">수정</a>
    <a type="button" class="btn btn-danger btn-sm" th:href="@{/article/delete(id=${article.id})}">삭제</a>
    -->
    <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == article.getMemberId}">
        <a type="button" class="btn btn-warning btn-sm" th:href="@{/article/edit(id=${article.id})}">수정</a>
        <a type="button" class="btn btn-danger btn-sm" th:href="@{/article/delete(id=${article.id})}">삭제</a>
    </th:block>
</section>
</body>
</html>