<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{base-layout::layout(~{::section})}">
<body>
<section class="container">
    <table class="table">
        <thead>
        <tr>
            <td>#</td>
            <td>제목</td>
            <td style="width: 20%;">작성자</td>
            <td style="width: 20%;">수정날짜</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <td th:text="${article.id}">id</td>
            <!-- <td th:text="${article.title}">title</td> -->
            <td><a th:text="${article.title}" th:href="@{/article/content(id=${article.id})}">title</a></td>
            <td th:text="${article.name}">author</td>
            <td th:text="${#temporals.format(article.updated,'yyyy-MM-dd HH:mm:ss')}">2024-06-30 09:03:19</td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>