<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{base-layout::layout(~{::section})}">
<body>
<section class="container">
    <h1>비밀번호 변경</h1>
    <form th:object="${password}" th:action="@{/password}" method="post">
        <div class="col-3 mb-3">
            <label class="form-label">기존 패스워드</label>
            <input type="password" class="form-control" th:field="*{old}">
            <p th:if="${#fields.hasErrors('old')}" th:errors="*{old}" class="text-danger">Old Password Error</p>
        </div>
        <div class="col-3 mb-3">
            <label class="form-label">새로운 패스워드</label>
            <input type="password" class="form-control" th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">New Password Error</p>
        </div>
        <div class="col-3 mb-3">
            <label class="form-label">패스워드 확인</label>
            <input type="password" class="form-control" th:field="*{passwordConfirm}">
            <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="text-danger">Confirm Password Error</p>
        </div>
        <button type="submit" class="btn btn-primary">변경</button>
    </form>
</section>
</body>
</html>