<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">

    <select id="selectAll">
        SELECT * FROM member
    </select>

    <select id="selectById">
        SELECT * FROM member WHERE id=#{id}
    </select>

    <select id="selectByNameLike">
        SELECT * FROM member WHERE name LIKE #{name}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="member.id" keyColumn="id">
        INSERT INTO member(name, email, age) VALUES(#{member.name}, #{member.email},
        #{member.age})
    </insert>

</mapper>